{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "./i18n/extracted-messages/",
        "enforceDescriptions": false
      }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./i18n/extracted-messages/",
        "enforceDescriptions": false,
        "moduleSourceName": "./redux-form-validators"
      }
    ]
  ]
}
