node_modules
node_modules.tar.gz
dist
!dist/index.html
!dist/tripleo_ui_config.js.sample
tests_results.xml
tripleo-ui-*.tgz
tripleo-ui-*.tar.gz
.DS_Store
.idea
app.conf
messages.pot
i18n/extracted-messages*
npm-debug.log
docs/_build
src/js/components/i18n/messages.js

# Files created by releasenotes build
releasenotes/build
.tox
tripleo_ui.egg-info/
