.nav-arrows {
  > li {
    &.active {
      @media (min-width: @grid-float-breakpoint) {
        &:after {
          border: 10px solid transparent;
          border-bottom-width: 20px;
          border-left-color: @nav-pills-active-link-hover-bg;
          border-right-width: 0;
          border-top-width: 20px;
          content: '';
          height: 0;
          position: absolute;
          right: -10px;
          top: 0;
          width: 0;
        }
      }
      .tab-action, &:hover {
        color: #fff;
      }
    }
    > a {
      padding-right: 30px;
    }
  }
  .tab-action {
    color: @link-color;
    font-size: @font-size-large;
    position: absolute;
    right: 12px;
    top: 12px;
    &:hover {
      color: @link-hover-color;
    }
  }
}

// Actions bar above nav-stacked
.nav-stacked-actions {
  border-bottom: 1px solid @nav-tabs-border-color;
  padding: 15px 0;
}

.sidebar-pf .nav-pills.nav-arrows > li > a {
  padding: 8px 20px;
}

.sidebar-pf .nav-pills.nav-arrows > li.active > a {
  border-color: @nav-pills-active-link-hover-bg !important;
  background: @nav-pills-active-link-hover-bg !important;
  &:after {
    content: "";
  }
}

// Nav dropdown menu icons
.navbar-pf .navbar-utility .dropdown a.dropdown-toggle {
    display: block;
    padding: 11px 10px 9px 10px;
    color: @navbar-pf-color;
    text-decoration: none;
    cursor: pointer;
    border-left: 1px solid #2b2b2b;
}
.navbar-pf .navbar-utility .dropdown.open a.dropdown-toggle,
.navbar-pf .navbar-utility .dropdown a.dropdown-toggle:hover,
.navbar-pf .navbar-utility .dropdown a.dropdown-toggle:active {
    background-color: #232323;
    color: @navbar-pf-active-color;
}
.navbar-pf .navbar-utility div.dropdown > .dropdown-toggle .pficon,
.navbar-pf .navbar-utility li.dropdown > .dropdown-toggle .pficon {
  position: relative;
  left: 0;
  top: 0;
}
