window.tripleOUiConfig = {
  // Service URLs (defaults to UI host)
  //
  // A valid Keystone service URL is required. The other endpoints
  // will then be obtained automatically from the Keystone catalog.
  //
  // 'keystone': 'https://192.168.24.2:443/keystone/v3',
  //
  // 'heat': 'https://192.168.24.2:443/heat/v1/%(project_id)s',
  // 'ironic': 'https://192.168.24.2:443/ironic',
  // 'ironic-inspector': 'https://192.168.24.2:443/ironic-inspector',
  // 'mistral': 'https://192.168.24.2:443/mistral/v2',
  // 'swift': 'https://192.168.24.2:443/swift/v1/AUTH_%(project_id)s',
  // 'zaqar-websocket': 'wss://192.168.24.2:443/zaqar',

  // Default websocket queue name
  // 'zaqar_default_queue': 'tripleo',

  // Languages
  //
  // By default, all available languages are enabled.  Use this setting to
  // disable certain languages.
  //
  // 'excludedLanguages': ['de', 'ja'],

  // Logging
  // 'loggers': ['console']
};
