ol.deployment-step-list {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;

  > li {
    list-style: none;
    margin: 0 0 6px 20px;
    padding: 4px 8px;
    position: relative;

    &:before {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      content: counter(li);
      counter-increment: li;
      font-size: 22px;
      font-weight: bold;
      left: -30px;
      margin-right: 8px;
      padding: 4px;
      position: absolute;
      text-align: center;
      top: 8px;
      width: 40px;
    }

    .deployment-step-subtitle {
      margin-bottom: 10px;
      & > span {
        vertical-align: middle;
      }
    }
  }
}

.role-color-mixin(@colour) {
  border-top-color: @colour;
  background-color: lighten(@colour, 30%);
  // border-bottom-color: @colour;
  color: darken(@colour, 25%);
}

.card-pf.role-card {
  .card-pf-body {
    margin: 0;
    .card-pf-utilization-details {
      border-bottom: 0;
      padding: 0;
    }
  }
  &.card-pf-accented {
    &.control{ .role-color-mixin(#fdc800); }
    &.compute{ .role-color-mixin(#7bb544); }
    &.blockStorage{ .role-color-mixin(#636); }
    &.objectStorage{ .role-color-mixin(#8c6175); }
    &.cephStorage{ .role-color-mixin(#bf907e); }
  }
}
