// Mostly reseting the media query specific styling for List View since it is applicable only when
// List View is used on a element hat spans full viewport width and breaks styling when used in a
// sidebar. In general Flexbox should not be used with media queries.
// https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties

.list-group-item.validation {
  @media(min-width: @screen-md-min) {
    align-items: flex-start;
  }

  .list-view-pf-actions {
    margin: 15px 0 15px 15px;
  }
  .list-view-pf-main-info {
    padding: 15px 0;

    @media(min-width: @screen-md-min) {
      align-items: flex-start;
    }

    .list-view-pf-body {
      @media (min-width: @screen-md-min) {
        display: table-cell;
      }

      .list-view-pf-description {
        @media (min-width: @screen-md-min) {
          float: none;
          width: auto;
        }

        .list-group-item-heading {
          font-size: 13px;
          margin-right: 0;
        }
        .list-group-item-text {
          @media (min-width: @screen-md-min) {
            margin: 0 0 10px 0;
          }

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 0;
        }
      }
      .list-view-pf-additional-info {
        @media (min-width: @screen-md-min) {
          width: auto;
        }

        .list-view-pf-additional-info-item {
          small {
            font-size: 80%;
          }
        }
      }
    }
  }
}
